@import "mobile/mixins/buttons"
@import "mobile/mixins/label.css.sass"

#login
  .title
    margin: 10px auto
    font-size: 36px
    text-align:  center

  .about
    @include label


  .button
    margin: 10px auto
    padding: 10px
    @include button



