@import "mobile/mixins/buttons"
@import "_bourbon.scss"

//#8fdce5

@font-face
  font-family: "code_pro_bold"
  src: url('/assets/code_pro_bold_lc.otf') format('opentype')

@mixin my_bg
  @include linear-gradient(top, #0091BE, #0081ad, $fallback: #0081ad)

body
  padding: 0px
  margin: 0px
  background: #d9d9d9
  color: #222
  font-family: Helvetica

a
  color: #0081ad
  text-decoration: underline

#wrapper
  max-width: 600px
  margin: 0px auto
  background: #fff
  background: #f2f2f2
  padding-bottom: 70px


#header
  width: 100%
  height: 60px
  text-align: center
  color: #fff
  -webkit-box-shadow: inset 0 0 10px #0081ad
  //background: -webkit-linear-gradient(top, #444, #222)
  //box-shadow: 0 -1px 7px 0 rgba(0, 0, 0, .21)
  @include my_bg

  .title
    width: 86px
    margin: 0px auto
    padding-top: 10px


#user-info
  width: 100%
  height: 50px
  background: #f6f6f6
  border-bottom: 1px solid #e2e2e2
  padding: 5px 0px

  .avatar
    float: left
    width: 50px
    height: 50px
    margin-left: 15px
    margin-right: 15px
    background: #ccc

  .name
    float: left
    height: 50px
    line-height: 50px
    font-size: 18px
    color: #444


.hr-shadow
  width: 100%
  height: 1px
  background: #0091BE
  -webkit-box-shadow: 0 0 5px #0091BE

#content
  width: 100%

  .padder
    padding: 0px 10px


