@import "mobile/mixins/buttons"
@import "mobile/mixins/label.css.sass"


#find_places
  @include button


#places-list
  background: #fff
  border-radius: 10px
  border: 1px solid #eaeaea
  -webkit-box-shadow: inset 0 0 7px #eaeaea
  padding: 10px 0
  .place
    a
      height: 75px
      color: #333
      text-decoration: none
      display: block
      padding: 0 10px
      //background: -webkit-linear-gradient(top, #f7f7f7, #eaeaea)
      background: #fff
      //-webkit-box-shadow: inset 0 0 5px #eaeaea
      border-bottom: 1px solid #eaeaea
      //border-radius: 10px

      .img
        float: left
        width: 55px
        height: 55px
        background: #333
        margin: 10px

      .info
        float: left
        height: 55px
        margin: 10px

        .name
          height: 40px
          line-height: 40px
          font-size: 30px

        .address
          height: 15px
          line-height: 15px
          font-size:  14px
          color: #777




#place
  .header
    .picture
      border-radius: 10px
      border: 1px solid #eaeaea
      -webkit-box-shadow: inset 0 0 7px #eaeaea
      background: #fff
      padding: 5px
      position: relative
      img
        max-width: 100%
      .name
        display: block
        font-size: 24px
        position: absolute
        bottom: 20px
        left: 0px
        background: #000
        color: #fff
        opacity: 0.8
        padding: 10px
        margin-left: 5px

  .form

    .label
      @include label

    .recommend-area
      width: 100%
      height: 90px
      font-size: 18px
      border: 1px solid #eee
    .recommend-button
      margin-top: 25px
      @include button

    .repost-button
      margin-top: 25px
      @include button


  #repost-form
    display: none

  #checker
    display: none

    .waiting
      @include label
      display: none

    .success
      @include label
      background: green
      color: #fff
      display: none

    .error
      display: none



