@import "mobile/mixins/buttons"

@mixin label
  display: block
  margin: 10px 0
  padding: 10px
  background: #f7f7f7
  border: 1px solid #f2f2f2
  border-radius: 10px


#find_places
  @include button


#places-list
  .place
    a
      font-size: 24px
      color: #333
      text-decoration: none
      display: block
      padding: 20px
      background: -webkit-linear-gradient(top, #f7f7f7, #eaeaea)
      -webkit-box-shadow: inset 0 0 5px #eaeaea
      border: 1px solid #eaeaea
      border-radius: 10px
      margin: 5px 0


#place
  .header
    .picture
      position: relative
      img
        max-width: 100%
      .name
        display: block
        font-size: 24px
        position: absolute
        bottom: 20px
        left: 0px
        background: #000
        color: #fff
        opacity: 0.8
        padding: 10px


  .form

    .label
      @include label

    .recommend-area
      width: 100%
      height: 90px
      font-size: 18px
      border: 1px solid #eee
    .recommend-button
      margin-top: 25px
      @include button

    .repost-button
      margin-top: 25px
      @include button


  #repost-form
    display: none



  #checker
    display: none

    .waiting
      @include label
      display: none

    .success
      @include label
      background: green
      color: #fff
      display: none

    .error
      display: none



