@mixin label
  display: block
  margin: 10px 0
  padding: 10px
  background: #fff
  border: 1px solid #eaeaea
  //border-radius: 10px
  -webkit-box-shadow: inset 0 0 5px #eaeaea
  font-size: 14px
  line-height: 1.3

@mixin label-blue
  @include linear-gradient(top, #0091BE, #0081ad, $fallback: #0081ad)
  color: #fff
  border: 0px solid
  -webkit-box-shadow: inset 0 0 5px #0091BE


