%div{"data-role" => "content"}
  %h2
    Welcome
  %div
    %p
      %span{:style => "font-size: small; "}
        Tastell - уникальный сервис, который позволяет вам получать скидки в кафе и ресторанах,
        в обмен на рекомендацию в социальной сети.
  %a{:type => "submit", href: places_path}
    Войти