#login
  .title
    Welcome, mobile!
  .about
    Tastell - уникальный сервис, который позволяет вам получать скидки в кафе и ресторанах,
    в обмен на рекомендацию в социальной сети.

  %a.button{href: places_path}
    Войти