#about-page

  .block#block-1
    #img1
    .name
      TASTLE.RU —  ПЕРВЫЙ  В  МИРЕ
      %br
      СЕРВИС  СОЦИАЛЬНЫХ  РЕКОМЕНДАЦИЙ
      %br
      ДЛЯ  КАФЕ  И  РЕСТОРАНОВ
    .text
      %p
        Социальные сети сегодня —  основное поле боя всех рекламных механизмов.
        Весь мировой бизнес ищет и поддерживает своих клиентов посредством социальных сетей.
      %p
        Понимание это есть у каждого, но как правильно использовать возможность — находят далеко не каждый.
        Вкладывая миллионы в баннерную рекламу или контекст никто не получит гарантию принятия предложения.
        Самое эффективное — когда люди говорят сами.


  .block.right#block-2
    #img2
    .name
      КАК  ЭТО  РАБОТАЕТ?
    .text
      %p
        Теперь представьте себя клиентом Вашего же заведения, прямо перед Вами стоит аккуратный тейбл-тент,
        на котором ясно и коротко изложена мысль: “Понравилось? Расскажи друзьям и получи скидку или комплимент
        прямо сейчас. Это займет меньше минуты...”
      %p
        И действительно, потратив меньше минуты на простые действия в мобильном телефоне, к Вам подходит официант
        и предлагает скидку или тортик на выбор. Для Вас это ничего не стоит, но приятно.

  .block#block-3
    #img3
    .name
      ТЕПЕРЬ ПОДРОБНЕЕ,
      %br
      ЧТО  ЖЕ  ПРОИЗОШЛО?
    .text
      %p
        Для клиента ровным счетом ничего особенного: нажав пару кнопок приятный комплимент в подарок.
        Единственное — теперь его друзья знают, в каких модных местах бывает их знакомый,
        ведь отзыв и информация о заведении теперь на его страничке в социальных сетях.
      %p
        Помимо комплимента и повода поделится с друзьями о том, где он бывает, клиент так же чувствует на подсознательном уровне некоторое чувство долга.
        Приятное послевкусие от результата отражается на чаевых и дальнейших разговорах о времяприпровождении гостя..
      %p
        Для заведения же все гораздо интереснее. Сразу после рекомендации приходит смс с данными о клиенте,
        кому нужно предоставить комплимент.  Дальше, в личном кабинете можно посмотреть, сколько людей увидело
        тот или иной отзыв, какова вероятность знакомства с другими “рекомендовавшими” и прочая интересная статистика,
        которая будет полезна отделу маркетинга.

  .block.right#block-5
    #img5
    .name
      ХВАТИТ  СЛОВ
      %br
      МИР  ЖДЕТ  ЭФФЕКТИВНОСТЬ
    .text
      %p
        Приемущества нашего проекта на лицо: никто не предоставляет услуги по взаимодействию с социальными сетями, хотя это самый эффективный способ привлечения новой аудитории.
        Ресторанные каталоги, баннеры на неизвестных сайтах и улицах - давно не эффективно.
        Единственное, что привлекает новую аудиторию — это личная рекомендация.
        Мы это делаем сполна, и даже лучше.



  -#.block#block-6
    #img6
    .name
      К  СОЖАЛЕНИЮ,
      %br
      О  РОЛИ  СТЕРЕОТИПОВ
    .text
      %p
        У нас нет тысяч заведений в базе  сейчас. И да, у нас нет десятков тысяч ежедневных посещений сайта.
        Но это попросту не нужно: какая разница, какая посещаемость у нас сегодня, если вся модель построена
        на личных рекомендациях уже существующих клиентов заведения?
      %p
        То, что мы продаем, не имеет ничего общего с цифрами, которые у нас есть сейчас.
        Или, например, которые мы теоритически могли бы накрутить, как это делают абсолютное большинство
        ресторанных каталогов.

      %p
        Если в Ваше заведение клиент приходит, потому что это недалеко от его работы, его коллеги есть у него в друзьях.
        Если же по причине близости от университета - его одногрупники так же есть в друзьях.
        То же самое и с соседями или сообществами по интересам. Наши друзья всегда подобны нам, как по увлечениям,
        так и по платежеспособности.

  -#.block.right#block-7
    #img7
    .name
      БЛИЖЕ  К  ДЕЛУ
    .text
      %p
        Наш проект не бесплатный. Но мы не кусаемся тысячами долларов.
      %p
        Подключится к проекту стоит 5.600 рублей, и это включает в себя 200 рекомендаций, все рекламные материалы,
        доступ к администраторской панели, где можно найти подробную статистику и возвраты
        (если человек удаляет отзыв, средства тут же возвращаются на лицевой счет)
      %p
        В дальнейшем, по израсходованию первичных 200 рекомендаций, будет доступны пополнения на 6.000 рублей
        200 рекомендаций и за 12.000 рублей 500 рекомендаций.
      %p
        Попробуйте, и уже в ближайшую неделю вы увидите новые результаты.
