body
  background: #fcfcfc
  font-family: "Helvetica Neue", Helvetica, Arial

#header
  height: 100px
  background: #fff
  margin-bottom: 25px
  border-bottom: 1px solid #e2e2e2

.wrapper
  margin: 0px auto
  width: 900px
