#info
  background: #0091BE
  color: #fff
  border-radius: 15px
  padding: 15px
  font-size: 24px
  text-align:  center

#best-places
  margin-top: 50px
  margin-bottom: 50px
  border-top: 1px solid #f2f2f2
  clear: both

  .row
    margin-top: 20px
    &:after
      visibility: hidden
      display: block
      font-size: 0
      content: " "
      clear: both
      height: 0

    .box
      background: #ccc
      border: 1px solid #f2f2f2
      box-sizing: border-box

      &.large
        width: 580px
        height: 480px

        .image
          width: 580px
          height: 440px

      &.tall
        width: 280px
        height: 480px

        .image
          width: 280px
          height: 440px

      &.wide
        width: 580px
        height: 230px

        .image
          width: 580px
          height: 190px

      &.small
        width: 280px
        height: 230px

        .image
          width: 280px
          height: 190px

      .image
        background: #ccc


      .bar
        background: #fff
        height: 40px

.left
  float: left

.r
  margin-right: 20px

.b
  margin-bottom: 20px

.clear
  float: none
  clear: both
  height: 0
  width: 0
  margin: 0
  padding: 0

