#places-list
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  .place
    float: left
    width: 380px
    height: 310px
    margin-right: 18px
    margin-bottom: 20px
    cursor: pointer
    border: 1px solid #e9e9e9
    &:hover
      -webkit-box-shadow: 0 0 3px rgba(204, 204, 204, 0.44)

    .image
      display: block
      width: 360px
      height: 190px
      padding: 10px
      background: #fff

      img
        width: 360px
        height: 190px

    .info
      width: 360px
      height: 30px
      background: #fff
      padding: 0px 10px

      .name
        height: 20px
        float: left
        a
          font-size: 20px
          color: #000
          text-decoration: none
          font-family: Helvetica
          &:hover
            color: #0081ad

      .price
        color: #666
        height: 20px
        float: right

    .kitchen
      width: 360px
      height: 20px
      padding: 0px 10px
      font-size: 14px
      color: #777

    .metro
      width: 360px
      height: 20px
      padding: 0px 10px
      font-size: 14px
      color: #777

    .address
      width: 360px
      height: 20px
      padding: 0px 10px
      font-size: 14px
      color: #777