.comment
  .avatar
    = image_tag comment.user.avatar_url(:mini)
  .content
    .top
      .name
        = comment.user.full_name
      .date
        = l comment.created_at, format: :dayMonth
    .text
      = comment.content