-#find-places-about
  Выберите место в котором вы находитесь. Для этого ваш телефон должен поддерживать
  геолокацию и она должна быть включена в настройках.

#search
  %input#search-input{placeholder: 'Поиск по заведениям', autocomplete: :off}


%script#place-list-item-template{type: "text/template"}
  %a.image{href: '/places/<%= id %>'.html_safe}
    %img{src: '<%= avatar_wide %>'.html_safe }
  .info
    .name
      %a{href: '/places/<%= id %>'.html_safe}
        <%= name %>
    .price
      ~
      <%= average_check %>
      руб
  .kitchen
    Кухня:
    <%= kitchen %>


%ul#places-list
  #no-results
    Ничего не найдено.
