%ul#places-list
  - @places.each do |place|
    %li.place
      %a.image{href: place_path(place)}
        = image_tag place.avatar_url(:wide)
      .info
        .name
          = link_to place.name, place_path(place)
        .price
          = '~ 3500 Р'
      .kitchen
        Кухня:
        = 'Русская, Японская, Татарская'