- if @places.empty?
  #search-not-found
    По вашему запросу ничего не найдено
    .to-do
      Попробуйте набрать что-нибудь другое в строке поиска ;)
- else
  #places
    %h1
      Результаты поиска
    #places-list
      .container
        - @places.each do |place|
          .place
            .top
              .average-check
                .label
                  Средний счет
                .value
                  1 500
                  %small руб.
              .avatar
                %a{href: "/places/#{place.id}"}
                  %img{ src: place.avatar_map }

            .bottom
              .name
                %a{href: "/places/#{place.id}"}
                  = place.name
              .address
                = place.address