#place
  .header
    .picture
      %img{src: @place.avatar_url(:thumb)}
      .name
        = @place.name



  .form#recommend-form
    .label
      Расскажите о заведении своим друзьям

    %textarea.recommend-area#recommend-area

    .recommend-button#recommend
      Рекомендовать

  .form#repost-form
    .label
      Ваш отзыв учтен. Осталось рассказать о нем в VK
      и получить скидку
    %a.repost-button{href: '#'}
      Рассказать в VK