#place-header
  .avatar
    = image_tag @place.logo_url(:small_thumb)

  .info
    .name
      = @place.name
    .address
      = @place.address

#place-photos
  .photo

#place-content
  .story
    = @place.description.html_safe