#logo
  %a{href: root_path}
    = image_tag('logo_ogo_1.png')

  %ul#header-links
    %li
      %a{href: '#'} О проекте
    %li
      %a{href: '#'} Заведениям
    %li
      - if user_logged_in?
        = link_to 'Выйти', sign_out_authentications_path, method: :delete, style: 'float: right'
      - else
        %a.oauth-link{href: '/auth/vkontakte', style: 'float: right'} Войти