#header-inside

  #logo
    %a{href: root_path}
      = image_tag('logo.png')

  #search-and-links
    .first-row
      .about
        Кафе и рестораны, о которых говорят
      %ul.header-links
        %li{class: (params[:controller] == 'pages' and params[:action] == 'about') ? 'picked' : ''}
          %a{href: about_pages_path} О проекте
        %li{class: (params[:controller] == 'pages' and params[:action] == 'venues') ? 'picked' : ''}
          %a{href: venues_pages_path} Заведениям

        %li
          - if user_logged_in?
            = link_to 'Выйти', sign_out_authentications_path, method: :delete
          - else
            %a.oauth-link{href: '/auth/vkontakte'} Войти

    .last-row
      %form.search{action: places_path, method: :get}
        %input{name: 'search[string]',
           autocomplete: :off,
           value: ((params[:search] && params[:search][:string]) ? params[:search][:string] : nil),
           placeholder: 'Напишите любое слово, имеющее отношение к заведению ( название, адрес )'}