#logo
  %a{href: root_path}
    = image_tag('logo_white.png')
%form#search{action: places_path, method: :get}
  %input{name: 'search[string]',
             autocomplete: :off,
             value: ((params[:search] && params[:search][:string]) ? params[:search][:string] : nil),
             placeholder: 'Поиск'}